@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  max-width: 100vw;
  overflow-x: hidden; /* Prevents side-scrolling */
}

body {
  margin: 0;
  min-height: 100vh;
  min-width: 100vw;
}